<table>     
    <thead><tr><th><%=  @cat.name %></th></tr></thead>
    
    <tr><td>Color: <%=  @cat.color %></td></tr>
    <tr><td>Age: <%=  @cat.age %></td></tr>
    <tr><a href='<%= cats_url %>'>Show all cats</a></tr>
</table>